<div class="container">
  <h2 class="title-lg mb">
    Новые пользователи
  </h2>
  <div class="users-box">
    <% @users.each do |user| %>
      <%= render "users/user_avatar", user: user%>
    <% end %>
  </div>
</div>

<div class="container">
  <h2 class="title-lg mb">
    <%= inclination(@questions.count, 'Последний', 'Последние', 'Последние') %>
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
  <% if current_user.nil? %>
    <p class="text-sm mb">
      Здравствуйте, Гость!
      <%= link_to "Зарегистрируйтесь", new_user_path %>
      или
      <%= link_to "войдите", sessions_new_path %>,
      чтобы сохранять ваши вопросы и их обсуждения.
    </p>
  <% end %>
  <% if @questions.size.zero? %>
    <p class="text-sm">Никто еще не задавал вопросов... <%= link_to "Хотите спросить?", new_question_path %></p>
  <% else %>
    <%= render @questions %>
  <% end %>
</div>

<div class="container mt-md">
  <h2 class="title-sm mt">Создайте свой вопрос:</h2>

  <p class="mt">
    <%= render 'form', question: @question %>
  </p>

  <p class="mt">
    <%= link_to "Создать новый вопрос", new_question_path, class: 'button button-main' %>
  </p>
</div>
