<div class="container">
  <h2 class="title-lg mb">Вопросы</h2>

  <% if current_user.nil? %>
    <p class="text-sm"> Нет заданных вопросов...
      <%= link_to "Зарегистрируйтесь", new_user_path %>
      или
      <%= link_to "войдите", sessions_new_path %>
      и будьте первым!
    </p>
  <% elsif @questions.size.zero? %>
    <p class="text-sm">Никто еще не задавал вопросов... <%= link_to "Хотите спросить?", new_question_path %></p>
  <% else %>
    <%= render @questions.order("created_at desc") %>
  <% end %>
</div>

<% if current_user.present? %>
<div class="container mt-md">
  <h2 class="title-sm mt">Создайте свой вопрос:</h2>

  <p class="mt">
    <%= render 'form', question: @question %>
  </p>

  <p class="mt">
    <%= link_to "Создать новый вопрос", new_question_path, class: 'button button-main' %>
  </p>
</div>
<% end %>
