<% background_class = "users-box-user-bg#{@user.id % 5}" %>
<div class="container center <%= background_class %> text-light">
  <h2 class="title-lg"><%= @user.real_name %></h2>
  <h2 class="title-md mb-md"><%= link_name(@user) %></h2>
  <p class="text-sm">Зарегистрирован: <%= l(@user.created_at, format: :long) %></p>
</div>

<% if current_user == @user %>
  <div class="container">
    <%= link_to "Изменить", edit_user_path(@user),
                class: "button button-yellow" %>
  </div>
<% end %>

<div class="container mt-md">
  <div class="container">
    <h2 class="title-md">Спросите что-нибудь:</h2>
    <p class="mb">
      <%= render 'questions/form', question: @question, user: @user %>
    </p>

    <%= link_to "Открыть форму", new_question_path(user_id: @user.id),
                    class: "button button-yellow mt"%>
  </div>
</div>

<div class="container mt-sm">
  <div class="container">
    <% if @questions.count.zero? %>
      <p class="text-sm">Этому пользователю еще не задавали вопросов...</p>
    <% else %>
      <h2 class="title-lg mb">
        <%= inclination(@questions.count, 'Последний', 'Последние', 'Последние') %>
        <%= @questions.count %>
        <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
        <span> для этого пользователя:</span>
      </h2>
      <%= render @questions %>
    <% end %>
  </div>
</div>
