<% background_class = "users-box-user-bg#{@user.id % 5}" %>
<div class="container center <%= background_class %> text-light">
  <h2 class="title-lg">
    <%= @user.real_name %>
    <% if current_user == @user %>
      <span>
        <%= link_to fa_icon('pencil'), edit_user_path(@user),
                    class: 'text-sm text-light', title: 'Редактировать профиль' %>
      </span>
      <p class="text-sm">(Это вы!)</p>
    <% end %>
  </h2>
  <h2 class="title-md mb-md"><%= link_name(@user) %></h2>
  <p class="text-sm">Зарегистрирован: <%= l(@user.created_at, format: :long) %></p>
</div>

<div class="container mt-md">
  <div class="container">
    <%= link_to "Спросите что-нибудь", new_question_path(user_id: @user.id),
                class: "button button-yellow"%>
    <p class="mb">
      <%= render 'questions/form', question: @question, user: @user %>
    </p>


  </div>
</div>

<div class="container mt-sm">
  <div class="container">
    <% if @questions.count.zero? %>
      <p class="text-sm">Этому пользователю, похоже, еще не задавали вопросов...</p>
    <% else %>
      <h2 class="title-lg mb">
        <%= inclination(@questions.count, 'Последний', 'Последние', 'Последние') %>
        <%= @questions.count %>
        <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
        <span> для этого пользователя:</span>
      </h2>
      <%= render @questions %>
    <% end %>
  </div>
</div>
